.card {
  box-shadow: 0px 4px 4px
    rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin: 20px 10px;
  width: 100%;
  background: $color-white;
  width: 320px;
  cursor: pointer;
  transition: 0.5s;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 350px;
  }

  &:hover {
    box-shadow: 0px 4px 4px
      rgba(0, 0, 0, 0.4);
  }

  a {
    text-transform: none;
    text-decoration: none;
    color: initial;
  }

  // @media (min-width: $tablet) {
  //   width: 500px;
  // }

  &__title {
    font-size: 21px;
  }

  &__description {
    margin-bottom: 0 !important;
    @media (max-width: $tablet) {
      font-size: 13px;
    }
  }

  &__cta-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }

  &__team-wrapperLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: initial;
    transition: 0.4s;
    &:hover {
      color: $color-secondary;
      transition: translateY(10px);
    }
  }
  &__team-logo {
    width: 28px;
    border-radius: 20px;
  }
  &__team-title {
    margin-left: 5px;

    @media (max-width: $tablet) {
      font-size: 13px;
      margin-left: 3px;
    }
  }
  &__cta {
    margin-top: 15px;
    height: 30px !important;
    width: 130px;
    font-size: 12px !important;
    text-transform: uppercase !important;
    cursor: pointer;
    background-color: $color-primary !important;
    color: white !important;
  }

  &--team {
    flex-direction: row;
    cursor: pointer;

    .card__team-wrapper {
      margin-left: 20px;
      color: initial;
    }

    .card__team-logo {
      width: 50px;
    }
  }
}
