@import '../variables.scss';

.main-form {
  border: 1px solid lighten($color-font-color, 20%);
  border-radius: 6px;
  padding: 1.2rem;
  position: relative;
  text-align: center;

  &__title-box {
    background-color: $color-secondary;
    color: white;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -0.6rem;
    max-width: 70vw;
    padding: 0.2rem 0.6rem;
    display: block;
    margin: auto;

    @media (min-width: $tablet) {
      left: 15%;
    }
  }

  &__container {
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      margin: 0 8rem;
    }
  }

  &__field-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      left: 15%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &--toggle {
      flex-direction: row !important;
      align-items: center;
    }
  }

  &__field {
    max-width: 30rem;
  }

  &__field-title {
    text-align: left !important;
    display: none;

    @media (min-width: $tablet) {
      display: inline;
    }

    &--toggle {
      margin-right: 1.2rem;
      display: inline;
    }
  }

  &__button {
    margin-top: 0.9rem;
  }
}
