.stepper-form {
  scroll-behavior: smooth;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  &__card-wrapper {
    padding: 5px;
  }

  &__card {
    padding: 5px;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-family: $open-sans !important;
    color: $color-font-color;
    font-size: 22px;
  }

  &__back-button {
    position: absolute;
    top: 12px;
    left: 20px;
  }

  &__button {
    background-color: $color-primary !important;
    color: white !important;
    margin: 20px auto;
    &--delete {
      background-color: $color-danger !important;
      color: white;
      margin: 20px auto;
    }
  }

  &__file-input {
    width: 100%;
  }

  &__image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  &__tooltip-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tooltip-text {
    width: 180px;
  }

  &__input {
    width: 100%;
    margin: 20px;

    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--switch {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__switch {
    margin-left: 10px !important;
  }
  &__alert {
    margin: 20px auto;
  }

  @media (min-width: $tablet) {
    &__form {
      width: 750px;
    }
    &__card {
      padding: 20px;
    }
    &__switch {
      margin-left: 50px !important;
    }
  }

  @media (max-width: $desktop) {
    &__header {
      height: initial !important;
    }

    &__step {
      margin: auto;
      flex-direction: column !important;

      // fugly: show stepper header on mobile
      .v-stepper__label {
        max-width: 100px;
        line-height: 1.4rem;
        text-align: center !important;
        display: initial !important;
      }
    }
  }

  //fugly: vertical align of switch
  .v-input--switch {
    margin: 0;
  }
}
