<template>
  <v-container class="stepper-form">
    <v-form ref="form" class="stepper-form__form">
      <v-stepper v-model="stepper">
        <v-stepper-header class="stepper-form__header">
          <v-stepper-step
            editable
            :complete="stepper > 1"
            class="stepper-form__step"
            step="1"
          >
            {{ $t('new-team.team-info') }}
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step
            class="stepper-form__step"
            :complete="stepper > 2"
            step="2"
            >{{ $t('new-team.team-content') }}</v-stepper-step
          >
        </v-stepper-header>

        <v-stepper-items>
          <!-- Step 1 -->
          <v-stepper-content
            step="1"
            class="stepper-form__card-wrapper text-right"
          >
            <v-card class="stepper-form__card text-center">
              <!-- Image -->
              <div class="stepper-form__input stepper-form__input--image">
                <v-img
                  :src="profilePicture"
                  class="stepper-form__image"
                ></v-img>
                <v-file-input
                  class="stepper-form__file-input"
                  color="primary"
                  :label="$t('new-team.upload-picture')"
                  prepend-icon="$file"
                  show-size
                  accept="image/*"
                  v-model="formData.profilePicture"
                ></v-file-input>
              </div>
              <!-- Name -->
              <v-text-field
                color="primary"
                class="stepper-form__input"
                name="name"
                :label="teamNameInput.text"
                :rules="teamNameInput.validationRules"
                v-model="formData[teamNameInput.name]"
              >
              </v-text-field>
              <!-- Description -->
              <v-textarea
                color="primary"
                class="stepper-form__input"
                no-resize
                :label="teamDescriptionInput.text"
                name="description"
                :rules="teamDescriptionInput.validationRules"
                v-model="formData[teamDescriptionInput.name]"
              >
              </v-textarea
            ></v-card>

            <v-btn
              color="primary"
              @click="validateTeamInfo() ? (stepper = 2) : ''"
            >
              {{ $t('new-team.next') }}
            </v-btn>
          </v-stepper-content>
          <!-- Step 2 -->
          <v-stepper-content
            step="2"
            class="stepper-form__card-wrapper text-right"
          >
            <v-card class="stepper-form__card">
              <v-autocomplete
                class="stepper-form__input"
                chips
                :items="users"
                :item-text="getUsername"
                :label="teamContentFields[0].text"
                v-model="formData.members"
                :search-input.sync="search"
                hide-no-data
                hide-selected
                multiple
                :loading="loading"
                name="members"
              ></v-autocomplete>
              <v-autocomplete
                class="stepper-form__input"
                chips
                :items="formData.members"
                :item-text="getUsername"
                :label="
                  formData.members.length
                    ? this.$t('new-team.admins')
                    : this.$t('new-team.no-members')
                "
                v-model="formData.admins"
                :disabled="!formData.members.length"
                hide-no-data
                hide-selected
                multiple
                name="admins"
              ></v-autocomplete>
              <div class="stepper-form__input stepper-form__input--switch">
                <v-tooltip bottom max-width="280">
                  <template
                    v-slot:activator="{
                      on
                    }"
                  >
                    <p v-on="on" class="stepper-form__tooltip-content">
                      <span class="stepper-form__tooltip-text">
                        {{ $t('new-team.are-admins-owners') }} </span
                      ><v-icon>mdi-information</v-icon>
                    </p>
                  </template>
                  <span>
                    {{ $t('new-team.are-admins-owners-help') }}
                  </span> </v-tooltip
                ><v-switch
                  class="stepper-form__switch"
                  v-model="formData.adminsAreOwners"
                ></v-switch>
              </div>
            </v-card>

            <v-btn text @click="stepper = 1">{{ $t('new-team.back') }}</v-btn>
            <v-btn color="primary" @click="createTeamRequest">
              {{ $t('new-team.create-team') }}</v-btn
            >
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>

      <v-alert
        ref="alertPopup"
        v-if="alertAttributes['message']"
        :type="alertAttributes['type']"
        transition="scale-transition"
        >{{ alertAttributes['message'] }}</v-alert
      >
    </v-form>
  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: this.$t('new-team.title')
    };
  },
  created() {
    this.$store.commit('app/setTitle', this.$t('new-team.title'));
  },
  mounted() {
    const token = window.localStorage.getItem('token');
    this.config = {
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${token}`
      }
    };
  },
  data() {
    return {
      config: null,
      stepper: 1,
      loading: false,
      search: null,
      users: [],
      profilePicture: require('../../static/logo/profile-placeholder.png'),
      formData: {
        name: null,
        description: null,
        admins: [],
        members: [],
        adminsAreOwners: false,
        profilePicture: null
      },
      teamSlug: null,
      teamNameInput: {
        name: 'name',
        text: this.$t('new-team.name'),
        validationRules: [
          (teamNameValue) =>
            !!teamNameValue || this.$t('form.teamName-is-required')
        ]
      },
      teamDescriptionInput: {
        name: 'description',
        text: this.$t('new-team.description'),
        validationRules: [
          (teamDescriptionValue) =>
            !!teamDescriptionValue ||
            this.$t('form.team-description-is-required')
        ]
      },
      teamContentFields: [
        {
          text: this.$t('new-team.members')
        },
        {
          text: this.$t('new-team.admins')
        }
      ],
      alertAttributes: {
        message: '',
        type: ''
      }
    };
  },
  methods: {
    validateTeamInfo() {
      return this.$refs.form.validate(['name', 'description']);
    },
    async createTeamRequest() {
      const { members, admins, ...teamData } = this.formData;

      if (this.$refs.form.validate()) {
        const memberships = { members, admins };
        await this.$axios
          .post('http://localhost:3000/teams', teamData, this.config)
          .then((res) => {
            this.teamSlug = res.data.payload.slug;
          })
          .then(() => this.generateMembershipRequests(memberships))
          .then(() => this.showAlert(true))
          .catch((err) => {
            console.log(err);
            this.showAlert(false);
          });
      } else this.stepper = 1;
    },

    async generateMembershipRequests(memberships) {
      const admins = memberships.admins;
      // avoid double request since an admin is a member too
      const members = memberships.members.filter(
        (member) => !admins.includes(member)
      );

      for (const username of members) {
        this.membershipRequest(username, 'member');
      }

      for (const username of admins) {
        this.membershipRequest(username, 'admin');
      }
    },
    async membershipRequest(username, role) {
      const membership = {
        username: username,
        role: role
      };

      await this.$axios
        .post(
          `http://localhost:3000/teams/${this.teamSlug}/set-role`,
          membership,
          this.config
        )
        .then((res) => {
          console.log(res);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getUsername(user) {
      return user.username;
    },
    async getUsers() {
      try {
        const response = await this.$axios.get(`http://localhost:3000/users`);
        this.loading = false;
        this.users = response.data.payload;

        // Exclude self
        this.users = this.users.filter(
          (user) => user.username != this.$store.state.auth.user.username
        );
      } catch (error) {
        console.log(error);
      }
    },
    showAlert(success) {
      if (success) {
        this.alertAttributes.type = 'success';
        this.alertAttributes.message = this.$t('new-team.success');
      } else {
        this.alertAttributes.type = 'error';
        this.alertAttributes.message = this.$t('new-team.error');
      }
      this.$nextTick(() => this.$refs.alertPopup.$el.scrollIntoView());
    }
  },
  watch: {
    search(val) {
      // Items have already been loaded
      if (this.$data.users && this.$data.users.length > 0) return;

      // Items have already been requested
      if (this.$data.loading) return;

      this.$data.loading = true;

      this.getUsers();
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/variables';
@import '@/assets/components/stepper-form';
</style>
