<template>
  <div class="card card--team">
    <nuxt-link
      class="card__team-wrapperLink"
      :to="team.slug"
    >
      <img
        class="card__team-logo"
        :src="team.profilePicture"
      />
      <div class="card__team-wrapper">
        <h1 class="card__title">
          {{ team.name }}
        </h1>
        <p class="card__description">
          {{ team.description }}
        </p>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    team: {
      type: Object,
      validator: (team) => {
        return (
          team.name &&
          team.slug &&
          team.description &&
          team.profilePicture
        );
      },
    },
  },
};
</script>
