<template>
  <div
    class="browse-teams card-browser"
  >
    <div
      class="browse-teams__card-wrapper"
    >
      <team-card
        class="browse__teams-card"
        v-for="team in teams"
        :key="team.name"
        :team="team"
      ></team-card>
    </div>
  </div>
</template>

<script>
import TeamCard from "@/components/card/TeamCard";
export default {
  data() {
    return {
      teams: [
        {
          name: "OpenSCN",
          description:
            "Open Source Collaborators",
          slug: "openscn",
          profilePicture: require("../static/logo/profile-placeholder.png"),
        },
        {
          name: "IHU Management",
          description:
            "IHU staff and maintainers",
          slug: "ihu-management",
          profilePicture: require("../static/logo/profile-placeholder.png"),
        },
      ],
    };
  },
  components: {
    TeamCard: TeamCard,
  },
  head() {
    return {
      title: this.$t(
        "browse-teams.title"
      ),
    };
  },
  mounted() {
    this.$store.commit(
      "app/setTitle",
      this.$t("browse-teams.title")
    );
  },
};
</script>

<style lang="scss" scoped>
.browse-teams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 88vh;
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
