<template>
  <div>
    <p>MY PROJECTS</p>
    <div class="projects__button--wrapper">
      <v-btn fab dark color="primary" nuxt to="projects/new"
        ><v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import authenticatedRoute from '../mixins/authenticatedRoute';

export default {
  head() {
    return {
      title: this.$t('my-projects.title')
    };
  },
  mixins: [authenticatedRoute],
  created() {
    this.$store.commit('app/setTitle', this.$t('my-projects.title'));
  }
};
</script>

<style lang="scss">
.projects {
  &__button--wrapper {
    position: absolute;
    padding: 50px;
    bottom: 0;
    right: 0;
  }
}
</style>
