<template>
  <div class="my-teams">
    <p>MY TEAMS</p>
    <div class="my-teams__button-wrapper">
      <v-btn fab dark color="primary" nuxt to="teams/new"
        ><v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import authenticatedRoute from '../mixins/authenticatedRoute';

export default {
  head() {
    return {
      title: this.$t('my-teams.title')
    };
  },
  mixins: [authenticatedRoute],
  created() {
    this.$store.commit('app/setTitle', this.$t('my-teams.title'));
  }
};
</script>

<style lang="scss" scoped>
.my-teams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 88vh;
  &__button-wrapper {
    position: absolute;
    padding: 50px;
    bottom: 0;
    right: 0;
  }
}
</style>
