<template>
  <div>
    <div v-if="!mobile" class="authForm--screen-switcher-div">
      <span class="authForm--screen-switcher-span">
        {{ $t("signup.already-have-an-account") }}
      </span>
      <v-btn nuxt to="/login" outlined class="authForm--screen-switcher-button">
        {{ $t("signup.login") }}</v-btn
      >
    </div>

    <v-form ref="form" class="authForm">
      <v-img class="authForm--logo" :src="logosrc"></v-img>
      <v-alert class="authForm--alert" v-if="errorMessage" type="error">{{
        errorMessage
      }}</v-alert>
      <v-text-field
        v-for="field in fields"
        :key="field.name"
        :prepend-inner-icon="field.icon"
        dark
        color="secondary"
        class="authForm--field"
        v-model="formData[field.name]"
        :label="field.label"
        :type="field.type"
        :rules="field.validationRules"
        @keyup.enter.native="signUpRequest"
      ></v-text-field>
      <v-btn large class="authForm--button" @click="signUpRequest">{{
        $t("signup.login")
      }}</v-btn>

      <p class="authForm--label">
        <nuxt-link class="authForm--label-link" to="forgot-password">{{
          $t("signup.forgot-password")
        }}</nuxt-link>
      </p>
    </v-form>

    <div>
      <p v-if="mobile" class="authForm--screen-switcher-p">
        {{ $t("signup.already-have-an-account") }}
        <nuxt-link class="authForm--screen-switcher-link" to="/login">{{
          $t("signup.login")
        }}</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
import nonAuthenticatedRoute from "../mixins/nonAuthenticatedRoute";

export default {
  layout: "login-signup",
  head() {
    return {
      title: this.$t("links.signup")
    };
  },
  mixins: [nonAuthenticatedRoute],

  data() {
    return {
      formData: {
        email: null,
        firstName: null,
        lastName: null,
        username: null,
        password: null,
        passwordRepeat: null
      },
      fields: [
        {
          name: "email",
          label: "Email",
          type: "email",
          validationRules: [
            emailValue => !!emailValue || this.$t("form.email-is-required"),
            emailValue =>
              /.+@.+\..+/.test(emailValue) || this.$t("form.email-is-not-valid")
          ]
        },
        {
          name: "firstName",
          label: this.$t("form.name"),
          type: "text",
          validationRules: [
            nameValue =>
              /^[^!$%^&*()_+|~=`{}\[\]:";'<>?,.\/0-9]*$/.test(nameValue) ||
              this.$t("form.name-validation")
          ]
        },
        {
          name: "lastName",
          label: this.$t("form.lastname"),
          type: "text",
          validationRules: [
            nameValue =>
              /^[^!$%^&*()_+|~=`{}\[\]:";'<>?,.\/0-9]*$/.test(nameValue) ||
              this.$t("form.name-validation")
          ]
        },
        {
          name: "username",
          label: this.$t("form.username"),
          type: "text",
          validationRules: [
            usernameValue =>
              !!usernameValue || this.$t("form.username-is-required"),
            usernameValue =>
              /^[^!$%^&*()+|~=`{}\[\]:";'<>?,\/]*$/.test(usernameValue) ||
              this.$t("form.username-validation")
          ]
        },
        {
          name: "password",
          label: "Password",
          type: "password",
          validationRules: [
            passwordValue =>
              !!passwordValue || this.$t("form.password-is-required"),
            passwordValue =>
              (passwordValue && passwordValue.length >= 5) ||
              this.$t("form.password-validation")
          ]
        },
        {
          name: "passwordRepeat",
          label: this.$t("form.repeat-password"),
          icon: "",
          type: "password",
          validationRules: [
            passwordValue =>
              !!passwordValue || this.$t("form.repeat-password-is-required"),
            passwordValue =>
              (passwordValue && passwordValue.length >= 5) ||
              this.$t("form.password-validation"),
            passwordValue =>
              this.formData.password === this.formData.passwordRepeat ||
              this.$t("form.repeat-password-validation")
          ]
        }
      ],
      errorMessage: "",
      logosrc: require("@/static/logo/full-logo-font.png")
    };
  },
  mixins: [nonAuthenticatedRoute],
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.mdAndDown;
    },
    authStatus() {
      return this.$store.state.auth.status;
    }
  },
  methods: {
    signUpRequest() {
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch("auth/register", {
            username: this.$data.formData.username,
            email: this.$data.formData.email,
            password: this.$data.formData.password,
            passwordRepeat: this.$data.formData.passwordRepeat,
            firstName: this.$data.formData.firstName || "none"
          })
          .then(() => {
            this.$router.push({
              path: "/browse-projects"
            });
          })
          .catch(err => console.log("ERROR" + err));
      }
    }
  },
  watch: {
    authStatus() {
      switch (this.$store.state.auth.status) {
        case 500:
          this.$data.errorMessage = "This user already exists";
          break;
        case 401:
          this.$data.errorMessage =
            "The password you entered is incorrect. If you don't remember it, you can reset it below";
          break;
        default:
          this.$data.errorMessage = "Error";
          break;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/authForm";
</style>
