<template>
  <client-only>
    <v-navigation-drawer
      v-model="drawerValue"
      app
      class="navigation-drawer primary"
    >
      <v-list-item class="navigation-drawer__logo">
        <v-list-item-content>
          <v-img :src="imgsrc"></v-img>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="navigation-drawer__divider"></v-divider>
      <v-list class="navigation-drawer__list">
        <v-list-item
          class="my-2 navigation-drawer__list-item"
          v-for="item in navigationItems"
          :key="item.title"
          link
          :to="item.to"
          v-ripple="false"
          active-class="navigation-drawer__list-item--active"
        >
          <v-list-item-content>
            <v-list-item-title class="navigation-drawer__link">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          class="navigation-drawer__list-item Header__Link--testForm"
        >
          <testForm
            v-if="this.$store.getters['auth/isAuthenticated']"
          ></testForm>
        </v-list-item>
        <v-list-item
          v-if="$i18n.locale === 'en'"
          :to="switchLocalePath('el')"
          @click="changeLocale('el')"
          class="navigation-drawer__list-item Header__Link Header__Link--Language"
        >
          <v-list-item-title class="navigation-drawer__link">
            {{ $t('links.greek') }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          v-else
          :to="switchLocalePath('en')"
          @click="changeLocale('en')"
          class="navigation-drawer__list-item Header__Link Header__Link--Language"
          exact
        >
          <v-list-item-title class="navigation-drawer__link">
            {{ $t('links.english') }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </client-only>
</template>
<script>
import TestForm from '@/components/testForm/testForm';
export default {
  data() {
    return {
      imgsrc: require('@/static/logo/full-logo.png')
    };
  },
  components: {
    testForm: TestForm
  },
  methods: {
    changeLocale(locale) {
      this.$i18n.setLocale(locale);
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter(
        (locale) => locale !== this.$i18n.locale
      );
    },
    allNavigationItems() {
      return [
        {
          title: this.$t('subbed-projects.title'),
          to: this.localePath('subbed-projects')
        },
        {
          title: this.$t('new-project.title'),
          to: this.localePath('new-project')
        },
        {
          title: this.$t('my-projects.title'),
          to: this.localePath('my-projects')
        },
        {
          title: this.$t('browse-projects.title'),
          to: this.localePath('browse-projects')
        },
        {
          title: this.$t('my-teams.title'),
          to: this.localePath('my-teams')
        },
        {
          title: this.$t('browse-teams.title'),
          to: this.localePath('browse-teams')
        }
      ];
    },
    navigationItems() {
      if (this.$store.getters['auth/isAuthenticated'])
        return this.allNavigationItems;
      else
        return this.allNavigationItems.filter((currValue) =>
          currValue.to.match(/browse/)
        );
    },
    drawerValue: {
      get() {
        return this.$store.state.app.drawer;
      },
      set(drawerIsOpen) {
        this.$store.commit('app/setDrawer', drawerIsOpen);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/assets/variables';

.Header {
  &__Link {
    &--Language {
      max-width: 55px;
      font-weight: bold;
      color: $color-secondary;
      margin-top: 10px !important;
    }
    &--testForm {
      padding: 0;
      margin: 0;
      margin-top: auto !important;
      background-color: transparent !important;
    }
  }
}

.navigation-drawer__logo {
  margin: 0 auto;
  max-width: 210px;
  height: auto;
}

.navigation-drawer__divider {
  margin: 0 20px;
  background-color: $color-base;
}

.navigation-drawer__list-item {
  margin-top: 4px;
  border-radius: 6px;
  flex: initial !important;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

.navigation-drawer__list-item--active {
  background-color: $color-secondary;
  &:hover {
    background-color: $color-secondary;
  }
}

.navigation-drawer__list {
  padding: 0;
  margin: 10px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85%;
}

.navigation-drawer__link {
  text-decoration: none;
  color: white;
}
</style>
