<template>
  <div>
    <v-container>
      <v-form class="main-form" ref="form">
        <div class="main-form__title-box">
          <span>{{ $t('project.info') }}</span>
          <tooltip :text="tooltipText" />
        </div>
        <div class="main-form__container">
          <div class="main-form__field-container">
            <h4 class="main-form__field-title">{{ $t('project.name') }}</h4>
            <v-text-field
              class="main-form__field"
              v-model="formData.name"
              :rules="nameRules"
              :label="$t('project.name')"
            ></v-text-field>
          </div>
          <div class="main-form__field-container">
            <h4 class="main-form__field-title">{{ $t('project.category') }}</h4>
            <v-select
              class="main-form__field"
              v-model="formData.category"
              :rules="categoryRules"
              :items="availableCategories"
              :label="$t('project.category')"
            ></v-select>
          </div>
          <div class="main-form__field-container">
            <h4 class="main-form__field-title">{{ $t('project.email') }}</h4>
            <v-text-field
              class="main-form__field"
              v-model="formData.email"
              :rules="emailRules"
              :label="$t('project.email')"
            ></v-text-field>
          </div>
          <div class="main-form__field-container">
            <h4 class="main-form__field-title">
              {{ $t('project.description') }}
            </h4>
            <v-textarea
              class="main-form__field"
              v-model="formData.description"
              :label="$t('project.description')"
            ></v-textarea>
          </div>
          <div class="main-form__field-container">
            <h4 class="main-form__field-title">
              {{ $t('project.attach-to-team') }}
            </h4>
            <v-select
              class="main-form__field"
              v-model="formData.attachToTeam"
              :items="teams"
              :no-data-text="$t('project.attach-to-team-none')"
              :label="$t('project.attach-to-team')"
            ></v-select>
          </div>
          <div
            class="main-form__field-container main-form__field-container--toggle"
          >
            <h4 class="main-form__field-title main-form__field-title--toggle">
              {{ $t('project.is-active') }}
            </h4>
            <v-switch
              class="main-form__field"
              v-model="formData.isActive"
            ></v-switch>
          </div>
          <div
            class="main-form__field-container main-form__field-container--toggle"
          >
            <h4 class="main-form__field-title main-form__field-title--toggle">
              {{ $t('project.is-public') }}
            </h4>
            <v-switch
              class="main-form__field"
              v-model="formData.isPublic"
            ></v-switch>
          </div>
        </div>
        <v-alert v-if="alertData.show" :type="alertData.status">{{
          alertData.message
        }}</v-alert>
        <v-btn class="main-form__button primary" @click="submit">{{
          $t('project.submit')
        }}</v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import Tooltip from '@/components/Tooltip/Tooltip.vue';

export default {
  head() {
    return {
      title: this.$t('project.create-project')
    };
  },
  data() {
    return {
      show: false,
      tooltipText: this.$t('project.info-tooltip'),
      formData: {
        name: '',
        category: '',
        email: '',
        description: '',
        attachToTeam: '',
        isActive: true,
        isPublic: true
      },
      nameRules: [
        (v) => !!v || this.$t('project.name-is-required'),
        (v) => (v && v.length >= 5) || this.$t('project.name-min-length')
      ],
      availableCategories: ['Health', 'Maintenance'],
      categoryRules: [(v) => !!v || this.$t('project.category-is-required')],
      emailRules: [
        (v) =>
          /.+@.+\..+/.test(v) || v === '' || this.$t('project.email-invalid')
      ],
      teams: null,
      alertData: {
        show: false,
        type: 'success',
        message: ''
      }
    };
  },
  components: {
    tooltip: Tooltip
  },
  created() {
    this.$store.commit('app/setTitle', this.$t('project.create-project'));
  },
  async mounted() {
    // Get the user's teams
    await this.$axios
      .get('/teams')
      .then((response) => {
        const teams = response.data.payload;
        const username = this.$store.state.auth.user.username;
        const userTeams = this.getUserTeams(teams, username);
        this.$data.teams = userTeams;
      })
      .catch((err) => console.log(err));
  },
  methods: {
    async submit() {
      if (!this.$refs.form.validate()) return;
      const requestHeaders = {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${this.$store.state.auth.token}`
      };
      const requestData = this.getNonEmptyFormData();
      const response = await this.$axios
        .post('/projects', requestData, {
          headers: requestHeaders
        })
        .then(() => {
          console.log(response);
          // Show success alert
          this.$data.alertData.show = true;
          this.$data.alertData.status = 'success';
          this.$data.alertData.message = this.$t('project.success');
        })
        .catch((error) => {
          this.$data.alertData.show = true;
          this.$data.alertData.status = 'error';
          this.$data.alertData.message = error;
        });
    },
    // Function to return only the form data filled in by the user
    getNonEmptyFormData() {
      const nonEmptyData = {};
      for (const itemKey in this.$data.formData) {
        const itemValue = this.$data.formData[itemKey];
        if (itemValue !== '') nonEmptyData[itemKey] = itemValue;
      }
      return nonEmptyData;
    },
    getUserTeams(teams, username) {
      const userTeams = [];
      for (const team of teams) {
        for (const member of team.members) {
          if (member.user.username === username) userTeams.push(team.name);
        }
      }
      return userTeams;
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/components/form';
</style>
