<template>
  <v-toolbar-items>
    <v-text-field
      class="search-box__text-field mt-3"
      id="searchField"
      :class="{ 'search-box__button-clicked': searchIsActive }"
      :placeholder="this.$t('search.type-to-search')"
    ></v-text-field>
    <v-btn class="search-box__button" @click.prevent="searchButtonClicked" icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
  </v-toolbar-items>
</template>

<script>
export default {
  data() {
    return {
      searchIsActive: !this.mobile
    };
  },
  methods: {
    searchButtonClicked() {
      if (this.mobile) {
        this.searchIsActive = !this.searchIsActive;
        document.getElementById("searchField").focus();
      }
    }
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.mdAndDown;
    }
  }
};
</script>

<style lang="scss" scoped>
.search-box__text-field {
  width: 0px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.search-box__button-clicked {
  width: 220px;
  padding: 0 6px;
}
</style>
