<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-icon @click="!show" v-bind="attrs" v-on="on">mdi-information</v-icon>
    </template>
    <span>{{ text }}</span>
  </v-tooltip>
</template>

<script>
export default {
  data() {
    return {
      show: false
    };
  },
  props: {
    text: String
  }
};
</script>
