<template>
  <v-app class="app">
    <nuxt />
  </v-app>
</template>

<script>
export default {
  
};
</script>

<style lang="scss" scoped>
@import "@/assets/variables";

.app {
  background: rgb(31, 30, 30);
  background: linear-gradient(
    180deg,
    rgba(31, 30, 30, 1) 0%,
    rgba(3, 102, 103, 1) 68%,
    rgba(28, 183, 140, 1) 100%
  );
}
</style>
