<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" dark v-bind="attrs" @click="fetchData" v-on="on">
        {{ $t('test-component-form.title') }}
      </v-btn>
    </template>
    <v-card>
      <v-form ref="form" class="testForm">
        <v-card-title>
          <span class="testForm__headline">
            {{ $t('test-component-form.title') }}
          </span>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-select
                :items="projects"
                :item-text="(project) => project.name"
                :label="$t('test-component-form.project')"
                solo
                v-model="project"
                v-on:change="setProjectEdgeComponents"
                required
                return-object
                :rules="validationRules"
              ></v-select></v-col
            ><v-col cols="12">
              <v-select
                :items="edgeComponents"
                :item-text="(edgeComponent) => edgeComponent.name"
                :item-value="(edgeComponent) => edgeComponent.uuid"
                v-model="postData.edgeComponent"
                :label="$t('test-component-form.edge-component')"
                solo
                :disabled="!project"
                :rules="validationRules"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-text-field
                :label="$t('test-component-form.sensor-uuid')"
                :rules="validationRules"
                v-model="postData.sensor"
              ></v-text-field> </v-col
            ><v-col cols="12">
              <v-text-field
                :label="$t('test-component-form.sensor-value')"
                type="text"
                v-model="postData.value"
                :rules="validationRules"
              ></v-text-field> </v-col
            ><v-col cols="12">
              <v-text-field
                :label="$t('test-component-form.OSCN-iot-end-point')"
                type="text"
                :rules="validationRules"
                v-model="postData.httpEndpoint"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">
            {{ $t('test-component-form.cancel') }}
          </v-btn>
          <v-btn color="primary" @click="sendValueRequest">
            {{ $t('test-component-form.test') }}
          </v-btn>
        </v-card-actions>
        <v-alert
          class="testForm__alert"
          v-if="!alertData.hidden"
          :type="alertData.type"
        >
          {{ alertData.message }}
        </v-alert>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,

      // form data
      userId: null,
      projects: [],
      project: null,
      edgeComponents: [],
      validationRules: [
        (value) => !!value || this.$t('test-component-form.required')
      ],

      postData: {
        value: null,
        sensor: null,
        httpEndpoint: 'http://',
        edgeComponent: null
      },

      alertData: {
        type: null,
        hidden: true,
        message: null
      }
    };
  },
  methods: {
    // GET Requests
    //  fetch user id to search for his projects
    async fetchUserId() {
      const username = this.$store.state.auth.user.username;
      return await this.$axios
        .get(`http://localhost:3000/users/${username}`)
        .catch((err) => console.error(err));
    },
    // fetch Edge Components from user's projects
    async fetchProjects() {
      await this.$axios
        .get(`http://localhost:3000/projects?ownerId=${this.userId}`)
        .then((res) => {
          this.projects = res.data.payload;
        })
        .catch((err) => console.error(err));
    },
    // start fetching
    fetchData() {
      // Items have already been loaded
      if (this.projects.length > 0) return;

      this.fetchUserId().then((res) => {
        this.userId = res.data.payload.id;
        this.fetchProjects();
      });
    },

    sendValueRequest() {
      const requestHeaders = {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${this.$store.state.auth.token}`
      };
      if (this.$refs.form.validate()) {
        const { httpEndpoint, ...data } = this.postData;
        console.log(data);
        this.$axios
          .post(httpEndpoint, data, { headers: requestHeaders })
          .then((res) => {
            this.alertData = {
              type: 'success',
              hidden: false,
              message: this.$t('test-component-form.success-message')
            };
          })
          .catch((err) => {
            console.error(err);

            this.alertData = {
              type: 'error',
              hidden: false,
              message: this.$t('test-component-form.error-message')
            };
          });
      }
    },

    setProjectEdgeComponents() {
      // loop through each project's edgeComponent
      for (const edgeComponent of this.project.edgeComponents) {
        this.edgeComponents.push({
          name:
            edgeComponent.name ||
            this.$t('test-component-form.unnamed-edge-component'),
          uuid: edgeComponent.uuid,
          id: edgeComponent.id
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.testForm {
  &__alert {
    margin: 0;
  }
}
</style>
